---
- name: "Check for version 16.04"
  fail: msg="Must be version 16.04 or higher"
  when: ansible_distribution_version | version_compare('16.04', '<')

- name: Make it so that resolvconf works gud
  debconf:
    name: resolvconf
    question: resolvconf/linkify-resolvconf
    value: false
    vtype: boolean

- name: install deps
  apt:
    state: latest
    update_cache: true
    pkg:
      - build-essential
      - python-minimal
      - python-pytest
      - python-pip
      - python-dev
      - sqlite3
      - resolvconf
