CSIRTG_SMRT_RUNTIME_PATH={{ smrt.runtime_path }}
CSIRTG_SMRT_RULES_PATH={{ smrt.rules_path }}/default
CSIRTG_SMRT_CACHE_PATH={{ smrt.runtime_path }}
CSIRTG_SMRT_FIREBALL_SIZE={{ smrt.fireball_size }}
CSIRTG_SMRT_GOBACK_DAYS={{ smrt.goback_days }}